.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 6%;
    height:6%;
    opacity: 0.8;
    margin-left: 0%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    position: fixed;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    position: fixed;
}

a {
    color: #FF0000;
}

#menu {
    font-size: 20px;
    margin: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    position: relative;
    margin-top: 100px;
    color: #AAA;
}

#logo {
color: #ff0000; 
font-size: 70px; 
position: fixed;
margin: 20px;
}

.legend_cls {
    margin: 10px;
    font-size: 20px;
    color: #AFF;
}
.reg_cls {
    margin-left: 50px;
}

.sub_window {
    padding: 50px;
    position: relative;
    background: #000;
    min-height: 200px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 20px;
}


.inputclass {
    border: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    height: 30px;
    background: #FFF;
    opacity: 0.8;
}

.hud {
    width: 100%;
    height: 15%;
    bottom: 5px;
    position: fixed;
    padding: 0;
    margin: 0;
}

.howto {
    position: relative;

}

.info { 
	width: 80%;
	position: fixed;

	z-index: 200;
	background: #111;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius:30px;
	padding: 10px;
	margin-bottom: 45%;
	margin-top: 7%;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	opacity: 0.8;
}
.inventory { 
	height: 20px;  /* Can be anything */
	position: absolute;
	z-index: 100;
	background: #333; /* #555*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding: 10px;
/*
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
*/
	opacity: 0.5;
}

.inventory > p {
    margin: 0;
    padding: 0;
}

.inventory > img {
    width: 90%;
    height: 90%;
    border: 0;
}

.msgboard {
    /*width: 385px; */
    font-family: mario;
    height: 50%;
    max-height: 82%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    bottom: 35%;
    position: fixed;
    z-index: 1000;
/*    background: #333; */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    padding: 5px;
    opacity: 0.8;
}

.helpboard {
    /*width: 385px; */
    font-family: mario;
    height: 50%;
    max-height: 82%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    bottom: 35%;
    position: fixed;
    z-index: 1000;
/*    background: #333; */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    padding: 5px;
    opacity: 0.8;
}

.scoreboard {
    /*width: 385px; */
    overflow-y: auto; 
    height: 50%;
    max-height: 50%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 35%;
    position: fixed;
    z-index: 1000;
 /*   background: #333; */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    padding: 5px;
    opacity: 0.8;
}

.console { 
    /*width: 385px; */
    width: 30%;
    height: 15%;
    bottom: 5px;
    margin-left: 58%;
    position: fixed; 
    z-index: 100;
    background: #333; /* #555*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    padding: 5px;
    opacity: 0.8;
}

#console_log {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow : auto;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
    text-align: left;
    padding-left: 3px;
    width: 98%;
    height: 70%;
    padding: 0px;
    opacity: 0.8;
    position: relative;
    background: #333;
    color: #FFF;
    border: 0;
    resize: none;
}

.console > input {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    border: 0;
    width: 98%;
    height: 20%;
    opacity: 0.8;
    position: relative;
    background: #111;
    font-size: 12px;
    color: #fff;
}

.meter { 
	height: 20px;  /* Can be anything */
	position: absolute;
	z-index: 100;
	background: #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding: 5px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	opacity: 0.8;
}

#time {
    width: 10%;
    min-width: 200px;
    height: 25px;
    top: 5px;
    margin-left: 45%;
    margin-right: 45%;
    position: fixed;
    opacity: 0.8;
}
#time > p {
    font-size: 10px;wa
    padding-top: 0px;
}


#item1 {
    width: 6%;
    height: 8%;
    bottom: 1%;
    margin-left: 17%;
    position: fixed;
}
#item2 {
    width: 6%;
    height: 8%;
    bottom: 1%;
    margin-left: 25%;
    position: fixed;
}
#item3 {
    width: 6%;
    height: 8%;
    bottom: 1%;
    margin-left: 33%;
    position: fixed;
}
#item4 {
    width: 6%;
    height: 8%;
    bottom: 1%;
    margin-left: 41%;
    position: fixed;
}
#item5 {
    width: 6%;
    height: 8%;
    bottom: 1%;
    margin-left: 49%;
    position: fixed;
}
/*
#item1 {
    width: 85px;
    height: 85px;
    bottom: 5px;
    margin-left: 350px;
    position: fixed;
}
#item2 {
    width: 85px;
    height: 85px;
    bottom: 5px;
    margin-left: 460px;
    position: fixed;
}

#item3 {
    width: 85px;
    height: 85px;
    bottom: 5px;
    margin-left: 570px;
    position: fixed;
}
#item4 {
    width: 85px;
    height: 85px;
    bottom: 5px;
    margin-left: 680px;
    position: fixed;
}
#item5 {
    width: 85px;
    height: 85px;
    bottom: 5px;
    margin-left: 790px;
    position: fixed;
}
*/



#info_loadbar {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    bottom: 20%;
    position: absolute;
}

#health_load {
    width: 15%;
    height: 3.5%;
    bottom: 1%;
    position: fixed;
}
#weapon_ammo {
    width: 100px;
    height: 30px;
    bottom: 65px;
    position: fixed;
    left: 320px;
}
#weapon_ammo > p {
    margin-top: 30px;
    font-size: 30px;
    font-face: regular;
}
#weapon_load {
    width: 15%;
    height: 3.5%;
    bottom: 6.5%;
    position: fixed;
}
#weapon_reload {
    width: 15%;
    height: 1%;
    bottom: 11%;
    position: fixed;
}

#avatar {
    padding-top: 25px;
    padding-left: 15px;
    color: #CCAAFF;
    z-index: 102;
    margin: -20px;
    width: 200px;
    height: 50px;
    top: 0%;
    position: fixed;
    background: #000000;
    opacity: 0.6;
    border-bottom-right-radius: 50px;
}
#avatar img {
    width: 60px;
    height: 60px;
    position: fixed;
    margin-left: -100px;
    margin-top: -10px;
}
/*
#health_load {
    width: 300px;
    height: 30px;
    bottom: 5px;
    position: fixed;
}
#weapon_ammo {
    width: 100px;
    height: 30px;
    bottom: 65px;
    position: fixed;
    left: 320px;
}
#weapon_ammo > p {
    margin-top: 30px;
    font-size: 30px;
    font-face: regular;
}
#weapon_load {
    width: 300px;
    height: 30px;
    bottom: 46px;
    position: fixed;
}
#weapon_reload {
    width: 300px;
    height: 5px;
    bottom: 85px;
    position: fixed;
}
*/
.meter > p {
    position: fixed;
    z-index: 101;
    margin-top: 6px;
    margin-left: 20px;
}
.meter > span {
	display: block;
	height: 100%;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.orange > span {
	background-color: #f1a165;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}

.white > span {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0066CC),color-stop(1, #000066));
	background-image: -webkit-linear-gradient(top, #0066CC, #000066);
        background-image: -moz-linear-gradient(top, #0066CC, #000066);
        background-image: -ms-linear-gradient(top, #0066CC, #000066);
        background-image: -o-linear-gradient(top, #0066CC, #000066);
}

.red > span {
	background-color: #f0a3a3;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}




/* TABLE */
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.CSSTableGenerator tr:hover td{
	background-color:#515151;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#000000;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:6px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #c90000 5%, #4c0404 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c90000), color-stop(1, #4c0404) );
	background:-moz-linear-gradient( center top, #c90000 5%, #4c0404 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c90000", endColorstr="#4c0404");	background: -o-linear-gradient(top,#c90000,4c0404);

	background-color:#c90000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #c90000 5%, #4c0404 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c90000), color-stop(1, #4c0404) );
	background:-moz-linear-gradient( center top, #c90000 5%, #4c0404 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c90000", endColorstr="#4c0404");	background: -o-linear-gradient(top,#c90000,4c0404);

	background-color:#c90000;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

